[gerrit]
        basePath = git 
        canonicalWebUrl = https://localhost
[database]
        type = mysql
        database = reviewdb
        hostname = localhost
        port = 3306
        username = gerrit 
[auth]
        type = LDAP
        gitBasicAuth = true
        
[receive]
        enableSignedPush = false
[sendemail]
        smtpServer = localhost
        enable = true
        from = CodeReview 
[container]
        user = root 
        javaHome = /usr/lib/jvm/java-1.8-openjdk/jre
[sshd]  
        listenAddress = *:29418
        threads = 16
[gc]    
        interval = 3 day
[httpd] 
        listenUrl = https://*:443/
        #listenUrl = proxy-https://*:8080/r/
[cache]
        directory = cache
[ldap]
        server = ldap://ldap
        sslVerify = false
        accountBase = ou=People,dc=exmple,dc=com
        accountPattern = (uid=${username})
        accountFullName = ${uid}
        
[plugins]
        allowRemoteAdmin = true
[plugin "events-log"]
        storeUrl = jdbc:h2:/var/gerrit/review_site/db/ChangeEvents
[gitweb]
        type = gitweb
        cgi = /usr/share/gitweb/gitweb.cgi
[download]
        command = checkout
        command = cherry_pick 
        command = pull
        command = format-patch
        scheme = ssh
        scheme = http
        scheme = anon_http
        scheme = anon_git
        #scheme = repo_download
[hook]
        path = /etc/gerrit/hooks
        refUpdateHook = ref-update
        patchsetCreatedHook = patchset-created

